@use "../../styles/colors";

.container {
  display: flex !important;
  justify-content: center;
  align-items: stretch;
  max-width: 300px;
  background-color: rgba(colors.$primary_main, 10%);

  @media (max-width: 959px) {
    align-items: stretch;
  }

  .id {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex: none;
    background-color: rgba(colors.$primary_main, 20%);

    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-right: 1rem;
  }

  .userContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: colors.$text_primary;
  }
}
