@use "../../styles/colors";

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
}

.name {
  margin: 0;
  color: colors.$text_primary;
  font-size: 1rem !important;
  font-weight: 700 !important;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}

.info {
  color: colors.$success_main;
  margin: 0;
  font-size: 0.9rem !important;
  line-height: 1.7;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-weight: 700 !important;
}
