@use "../../styles/colors.scss";

.hero {
  padding-top: 5rem;
  height: 23em;
  background-color: colors.$primary_main;

  .text {
    text-align: center;
    font-weight: 700 !important;
    font-size: 3.75rem !important;
    line-height: 4rem !important;
  }
}
