@use "../../styles/colors";

.product-info-likes {
  .likes {
    border-width: 2px !important;
    border-color: colors.$secondary_main !important;
    background-color: rgba(colors.$secondary_main, 20%) !important;
    color: colors.$secondary_main !important;
    font-size: 0.875rem !important;
  }

  .icon {
    width: 1.25rem !important;
    margin-left: 0.5rem !important;
    margin-right: -0.6rem !important;
    color: colors.$secondary_main !important;
  }
}
