@use "../../styles/colors";

.header {
  width: 100vw;
  height: 98px;
  left: 0px;
  top: 0px;
  margin-bottom: 20px;
  background-color: colors.$background_paper;
}

.headerButton {
  color: colors.$text_primary !important;
}

.searchIcon {
  color: colors.$text_primary !important;
}

.headerInput {
  width: 100%;
  background-color: colors.$background_default;
}
