@use "../../styles/colors";

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.item {
  display: contents !important;
}

.footerButton {
  color: colors.$text_primary !important;
}

.copyright {
  color: colors.$text_disabled !important;
}
