@use "../../styles/colors";

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 0.7rem !important;
  margin-left: 0.7rem !important;
}

.select {
  svg {
    color: white !important;
  }
}
